// simple sexual A.slim : ^Total mutation frequencies: (.*)$
//
// A test script for the simple autosomal case
//
initialize() {
	initializeSLiMOptions(keepPedigrees=T); // necessary for pedigreeID
	source("init.slim");
    initializeTreeSeq();
	initializeSex('A');
	initializeMutationRate(1e-2);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 9);
	initializeRecombinationRate(1e-2);
}
1 early() {
	sim.addSubpop("p1", 100);
	addAncestralSamples(5);
}
50 early() {
	addAncestralSamples(5);
}

100 late() { 
	outputMutationResult();
	cat("\nTotal mutation frequencies: " + sum(sim.mutationFrequencies(NULL)) + "\n"); 
}
