// Keywords: multiple chromosomes

initialize() {
	initializeSLiMOptions(keepPedigrees=T); // necessary for pedigreeID
	source("init.slim");
	initializeTreeSeq();
	initializeMutationType("m1", 1.0, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	
	initializeChromosome(1, 1e5, type="H");
	initializeGenomicElement(g1, 0, 1e5-1);
	initializeMutationRate(1e-7);
	initializeRecombinationRate(0.0);
}
1 early() {
	sim.addSubpop("p1", 100);
	p1.setCloningRate(1.0);
}
100 early() {
	addAncestralSamples(5);
}
150 late() { 
	outputMutationResult();
	outputIndividuals();
   saveTreeSeq();
}
