// Keywords: multiple chromosomes, inheritance patterns, mating systems

initialize() {
	initializeSLiMModelType("nonWF");
	initializeSLiMOptions(keepPedigrees=T, dimensionality="xy");
	source("init.slim");
	initializeTreeSeq();
	defineConstant("K", 20);	// carrying capacity
	initializeSex();
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	m1.convertToSubstitution = T;
	
	types = c("A", "X", "Y", "H", "Z", "W", "HF", "FL", "HM", "ML", "-Y");
	symbols = c("A", "X", "Y", "H", "Z", "W", "HF", "FL", "HM", "ML", "nY");
	ids = 1 + seqAlong(types);
   length = 1e4;
	
	for (id in ids, symbol in symbols, type in types)
	{
		initializeChromosome(id, length, type, symbol);
		initializeMutationRate(1e-5);
		initializeRecombinationRate(1e-5);
		initializeGenomicElement(g1, 0, length-1);
	}
}
reproduction(NULL, "F") {
	mate = subpop.sampleIndividuals(1, sex="M");
	subpop.addCrossed(individual, mate, count=rpois(1, lambda=1.5));
}
1 early() {
	sim.addSubpop("p1", K);
}
early() {
	p1.fitnessScaling = K / p1.individualCount;
}
late() {
   addAncestralSamples(p1.individualCount);
}
10 late() {
	outputIndividuals();
}
