// gene conversion.slim : ^Total mutation frequencies: (.*)$
//
// A test script with a longer vanilla neutral simulation
//
initialize() {
    source("testing_utils.slim");
	initializeMutationRate(1e-6);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 1e5-1);
	initializeRecombinationRate(1e-7);
	initializeGeneConversion(0.2, 25, 0.75);
}
1 {
	sim.addSubpop("p1", 200);
}
100 {
    chooseAncestralSamples(5);
}
500 late() { 
    outputMutationResult();
}
