// simple sexual X.slim : ^Total mutation frequencies: (.*)$
//
// A test script for the simple X chromosome case
//
initialize() {
    source("testing_utils.slim");
	initializeSex('X');
	initializeMutationRate(1e-6);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 1e5-1);
	initializeRecombinationRate(1e-7);
}
1 {
	sim.addSubpop("p1", 100);
    chooseAncestralSamples(5);
}
100 {
    chooseAncestralSamples(5);
}

500 late() { 
    outputMutationResult();
}
