// cloning and selfing.slim : ^Total mutation frequencies: (.*)$
//
// A test script for clonign and selfing
//
initialize() {
    source("testing_utils.slim");
	initializeMutationRate(1e-7);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 1e5-1);
	initializeRecombinationRate(1e-8);
}
1 {
	sim.addSubpop("p1", 100);
	
	p1.setSelfingRate(0.4);
	p1.setCloningRate(0.4);

    chooseAncestralSamples(5);
}
100 {
    chooseAncestralSamples(5);
}

500 late() { 
    outputMutationResult();
    cat("\nTotal mutation frequencies: " + sum(sim.mutationFrequencies(NULL)) + "\n"); 
}
