// haploid clonals.slim : ^Fixed mutation count: (.*)$
//
// A test script for haploid clonal organisms, measured by heterozygosity
//

initialize() {
    source("testing_utils.slim");
	defineConstant("L", 1e6);
	defineConstant("mu", 1e-7);
	defineConstant("N", 500);
	
	initializeMutationRate(mu);
	initializeMutationType("m1", 1.0, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, L-1);
	initializeRecombinationRate(0);
}
1 {
	sim.addSubpop("p1", N);
	p1.setCloningRate(1.0);
}
modifyChild() {
	childGenome2.removeMutations(childGenome2.mutations);
	return T;
}
late() {
	muts = sim.mutationsOfType(m1);
	freqs = sim.mutationFrequencies(NULL, muts);
	sim.subpopulations.genomes.removeMutations(muts[freqs == 0.5], T);
}
5 {
    chooseAncestralSamples(5);
}
9 late() { 
    outputMutationResult();
}
