initialize() {

    initializeSLiMModelType("nonWF");

    // TREE SEQUENCE TEST OUTPUT
    initializeTreeSeq();
    source("testing_utils.slim");
    defineConstant("n_marks",20);   // number of marked genomes
    initializeMarkedMutations(n_marks);

    defineConstant("K",30);  

    initializeGenomicElementType("g1",m1,1.0);
    initializeGenomicElement(g1, 0, 999);
    initializeMutationRate(0.0);
    initializeRecombinationRate(0.01);
}

reproduction() {
    subpop.addCrossed(individual,subpop.sampleIndividuals(1));
    return NULL;
}
1 early() {
    sim.addSubpop("p1",100);
}   

1 early() {
    // TREE SEQUENCE TEST OUTPUT
    initializeMarks(sim, n_marks);
}

early() {

    p1.fitnessScaling = K / p1.individualCount;

}

10 late() {

    // TREE SEQUENCE TEST OUTPUT
    outputMutationResult(sim);

    sim.simulationFinished();
}
