[Desktop Entry]
Type=Application
Exec="/usr/bin/SLiMgui" %F
Name=SLiMgui
GenericName=The SLiM modeling environment.
Icon=org.messerlab.slimgui
StartupWMClass=edu.MesserLab.SLiMgui
Terminal=false
Categories=Science;Biology;
MimeType=text/slim;text/plain;
