Source: slimsim
Section: science
Priority: optional
Maintainer: Bryce Carson <bcars268@mtroyal.ca>
Build-Depends: dh-exec, debhelper, cmake (>> 3.10.2), qt5-qmake (>= 5.9.5), qtchooser (>> 64), qtbase5-dev (>= 5.9.5)
Standards-Version: 4.5.1
Homepage: https://messerlab.org/slim/
Vcs-Browser: https://github.com/messerlab/slim
Vcs-Git: https://github.com/MesserLab/SLiM.git

Package: slimsim
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}, libgcc-s1, libgl1, libqt5core5a, libqt5gui5 | libqt5gui5-gles, libqt5widgets5, libstdc++6
Description: SLiM: Selection on Linked Mutations
 SLiM is an evolutionary simulation framework that combines a powerful
 engine for population genetic simulations with the capability of modeling
 arbitrarily complex evolutionary scenarios. Simulations are configured via
 the integrated Eidos scripting language that allows interactive control a
 over practically every aspect of the simulated evolutionary scenarios. The
 underlying individual-based simulation engine is highly optimized to enable
 modeling of entire chromosomes in large populations. We also provide a
 graphical user interface on macOS and Linux for easy simulation set-up,
 interactive runtime control, and dynamical visualization of simulation
 output.
